.section{
    padding: 20px 0;
}

.space {
    height: 70px;
}


#selfIntroduction {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e2e2e2+0,dbdbdb+50,fefefe+100 */
    background: rgb(226,226,226); /* Old browsers */
    background: -moz-linear-gradient(-45deg,  rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(254,254,254,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(254,254,254,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(254,254,254,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    min-height: 100vh;
    
}

#timelinejs {
    min-height: 100vh;
    background-color: black;
}

#News {
    min-height: 100vh;
    background-color: white;
}

#Before {
    min-height: 100vh;
    background-color: white;
}

#IF {
    background-color: white;
}

#Re {
    min-height: 100vh;
    background-color: white;
}
#money {
    background-color: white;
}

#AT {
    background-color: white;
}

#QA {
    background-color: white;
}

#REV {
    background-color: white;
}

.iframe-rwd {
    position: relative;
    padding-bottom: 65.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
.iframe-rwd iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}